:root{
    --root-font-color: #333;
    --blue-accent:#27aae1;
    --blue-accent2: #bfecff;
    --blue-primary:#2b3990;
    --yellow-secondary:#815a1c;
    --yellow-primary:#cf942d;
    --yellow-accent:#f2b654;
    --bg:#F6F6F6;

    --selected-link-color:var(--blue-accent);
    --section-y-padding: 5em;
}

*{
    font-family: Viga, Arial, Helvetica, sans-serif;
    color: var(--root-font-color);
}

body{
    margin:0;
    background-color: var(--bg);
}

a{
    text-decoration: none;
    color: var(--root-font-color);
    transition: 0.4s;
}


nav {
    font-size: 12px;
    text-align: center;
}

nav a.router-link-exact-active {
    color: var(--selected-link-color);
}

nav a.router-link-exact-active:hover {
    background-color: transparent;
}

nav a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
    border: 0;
}

li, ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
  }

#app {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.router{
    flex:1;
}

.header{
    width: 100%;
    margin: 1rem 0;
    font-size: 2em;
}

.glass{
    border-radius: 10px;
    box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2.5px);
    border: 1px solid #FAFAFA;
}

.primary-button{
    background-color: var(--blue-primary);
    color: var(--bg);
    border-radius: 10px;
}

.flex-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 2rem 0;
}

.icon-container{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: .5em 0;
}

.icon{
    background-color: transparent;
    border-radius: 2em;
    padding: 8px;
    transition: .25s;
}

.center{
    text-align: center;
  }
  

/* Hover part */
@media (hover: hover) {
    a:hover {
        color: var(--selected-link-color);
    }

    .primary-button:hover{
        color: var(--bg);
        background-color: #4b59b6;
    }

    .icon:hover{
        background-color: rgba(191, 236, 255, .6);
    }
}

/* Page Responsive Queries*/
@media (min-width: 851px), (orientation: landscape){
    :root{
        --section-padding: 20vw;
    }
}
@media (max-width: 850px){
    :root{
        --section-padding: 15px;
    }
}

/* Template
@media (min-width: 851px), (orientation: landscape){

}
@media (orientation: portrait) and (min-width: 551px) and (max-width: 850px){

}
@media (max-width: 550px){

}
*/